@{
    ViewData["Title"] = "Custom routing";
}

<div class="text-center">
    <h1 class="display-4">Custom Routing</h1>
    <p>this route is accessed via (localhost/Custom/Home/CustomRoute) URL</p>
</div>
