<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>My Tasks</title>
</head>
<body>
    <div class="container">
        <header class="bg-primary text-white text-center">
            <h1 class="m-3 p-3">My Tasks</h1>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
    
</body>
</html>
