@model Ticket

<h2>New Task</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Add" method="post">

    <div class="form-group">

        <label asp-for="Name">Name:</label>
        <input type="text" asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <input type="text" asp-for="Description" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="SprintId">Sprint:</label>
        <select asp-for="SprintId" class="form-control"

                asp-items="@(new SelectList(ViewBag.Sprint, "SprintId", "Number"))">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="pointId">Point Value:</label>
        <input type="text" asp-for="pointId" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="StatusId">Status:</label>
        <select asp-for="StatusId" class="form-control"

                asp-items="@(new SelectList(ViewBag.Statuses, "StatusId", "Name"))">
            <option value=""></option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
